<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAR5mehqNdO3UcrKwCnCyVtu_1PCekzXAk</string>
	<key>GCM_SENDER_ID</key>
	<string>766835819433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensesTracker</string>
	<key>PROJECT_ID</key>
	<string>expenses-tracker-4e1fd</string>
	<key>STORAGE_BUCKET</key>
	<string>expenses-tracker-4e1fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766835819433:ios:cc74473c28191caea0fab8</string>
</dict>
</plist>